<h1>{{title}}</h1>
<div class="container">
    <p>{{content}}</p>
    <p>Created by: {{user.username}} on {{format_date createdAt}}</p>
    {{#if logged_in}}
    <form class="comment-form">
        <div>
            <textarea id="comment-body" name="comment-body" required></textarea>
        </div>
        <button type="submit">Add Comment</button>
    </form>
    <script src="/js/comment.js"></script>
    {{/if}}
    <h2>Comments</h2>
    {{#each comments}}
    <div class="card comment">
        <p class="comment-header">{{this.user.username}} on {{format_date this.createdAt}}</p>
        <p>{{this.comment}}</p>
    </div>
    {{/each}}
</div>